# MongoDB Connection URL (Local or MongoDB Atlas)
# Local MongoDB:
MONGODB_URL=mongodb://127.0.0.1:27017/familymanagement

# MongoDB Atlas format:
# MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/familymanagement?retryWrites=true&w=majority

PORT=3000
